.container {
  width: 100%;
  min-height: 600px;
  padding: 20px 5%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px 2%;
  }
}

.dashOptions{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}